.todo-list{
    & > li{
        cursor: pointer;
    }

    & >li.completed{
        color: #ccc;
        font-style: italic;
        text-decoration: line-through;
    }
    .todo-name{
        display: inline-block;
        width: 50px;
    }
}